fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-dotenv
pydantic
python-multipart

requests

numpy
pandas

scikit-learn
joblib

xgboost
prophet
tensorflow

# ai_models/ training script গুলোর জন্য (chart/visualization)
matplotlib
seaborn

passlib[bcrypt]
python-jose[cryptography]